button{
    padding: 8px;
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

.mat-hover{
    background-color: #5C6BC0;
    color: #fff;
}

.mat-success {
    background-color: #43A047;
    color: #fff;
}