mat-card{
    margin-bottom: 10px;
}

button{
    margin-right: 10px;
}

.example-full-width {
    width: 40%;
}

@media screen and (max-width: 1024px) {
    .example-full-width {
        width: 100%;
    }
}